@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div id="cardEndereco" class="card bg-info o-hidden h-100 text-white">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-map-marked-alt"></i>
                </div>
                <div class="mr-5">Endereços</div>
            </div>
            <a class="card-footer clearfix small z-1">
                <span class="float-left">Novo endereço</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>
